@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-light text-gray-dark text-base font-normal leading-7;
  }

  a {
    @apply text-pink;
  }
}

@layer utilities {
  .font-normal {
    font-variation-settings: 'wght' 350;
  }
  .font-medium {
    font-variation-settings: 'wght' 450;
  }
  .font-semibold {
    font-variation-settings: 'wght' 480;
  }
}
